<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Change password</h1>
	<div>
		<a class="btn btn-success" th:href="@{/}">Back</a>
		<br>
	</div>
     <div>
		<form th:object="${userForm}" th:action="@{/savepass}" action="#" method="post">
			<div>
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			<input type="hidden" th:field="*{username}" />
			<input type="hidden" th:field="*{role}" />
			<input type="submit" class="btn btn-success" value="Change Password"></input>		
		</form>
	</div>
</div>
</body>
</html>